<!DOCTYPE html>
<html>
<head>
  <title>{block title}Default Title{/block}</title>
</head>
<body>
  <header class="layout-header">
    <nav>{block nav}Home{/block}</nav>
  </header>
  <main class="layout-content">
    {block content}{/block}
  </main>
  <footer class="layout-footer">
    {block footer}&copy; 2026 Storybook PHP{/block}
  </footer>
</body>
</html>
